<!DOCTYPE html>
<html>
  <head>
    <title>Mail Sending</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      /* body{
        margin: 0px;
        padding: 0px;
      }
      form
      {
        height: 200px;
        width: 200px;
        background-color: red;
        margin-left: 40%;
      }
      .h1
      {
        margin: 0px;
        padding: 0px;
      } */



      /* .container{
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: 50px;

      }
      .btn:hover{
        border-color: blueviolet;
        opacity: 1;

      }
      input:focus
      {
        width: 306px;
        border-color: blueviolet;
        box-shadow: 10px 10px 61px 0px rgba(0,0,0,0.75);
      }
      .message
      {
        position: relative;
        background-color: orange;
        width: 380px;
        padding: 10px;
        border-radius: 20px;
        top: -180px;
      }
      h4
      {
        position: absolute;
        top: -40px;
        font-size: 22px;
      } */

    </style>
  </head>
  <body>
    <div>
      <form action="send" method="post" enctype=”multipart/form-data”>
        <h1>Sending Mail</h1>
        <div>
          <input type="email" name="email" placeholder="Enter Your Email"/>

          <input type="text" name="subject" placeholder="Type Subject Here.."/>
          <textarea name="message" cols="50" rows="5" placeholder="Type message Here..."></textarea>
          <input type="submit" value="send" name="send"/>
        </div>
      </form>
    </div>
  </body>
</html>
